@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #334155;
}
:root {
  font-family: "Roboto", "sans-serif";
  background-color: #fff;
}
